# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/
dist/
*.egg

# Node
node_modules/
.env.local
.env.production
frontend/dist/

# Uploads / temp
/tmp/_uploads/
*.pdf
*.xlsx
*.csv

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
*.log
*.zip
*.db
*.db-wal
*.db-shm
*.bak
allfiles.txt
